h2 {
    font-size: 40px;
    font-weight: 900;
}

hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-style: inset;
    border-left-width: 150px;
    border-right-width: 150px;
    border-color: #0b2e13; 
}

.techList {
    display: flex;
    flex-direction: row;
}