.projectIconContainer {
    display: flex;
    flex-direction: row;
}

.languageButtonContainer {
    display: flex;
    margin-top: 50px;
}

.languageButton {
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    width: 100px;
    border-style: none;
}

#youtube {
    margin-right: 100px;
    height: 75px;
    width: 100px;
}

#gif {
    margin-left: 100px;
    height: 75px;
    width: 75px;
}

.art {
    height: 400px;
    width: 600px;
}